vivado*
testbench/vivado*
.Xil
*webtalk*
ip/**/*
!ip/**/*.xci

project/odmb7_ucsb_dev.cache
project/odmb7_ucsb_dev.hw
project/odmb7_ucsb_dev.ip_user_files
project/odmb7_ucsb_dev.runs
project/odmb7_ucsb_dev.sim
project/odmb7_ucsb_dev.srcs
project/odmb5_ucsb_dev.cache
project/odmb5_ucsb_dev.hw
project/odmb5_ucsb_dev.ip_user_files
project/odmb5_ucsb_dev.runs
project/odmb5_ucsb_dev.sim
project/odmb5_ucsb_dev.srcs

project/odmb5_ucsb_dev.cache
project/odmb5_ucsb_dev.hw
project/odmb5_ucsb_dev.ip_user_files
project/odmb5_ucsb_dev.runs
project/odmb5_ucsb_dev.sim
project/odmb5_ucsb_dev.srcs

